.logo {
    width:30%;
}
.img-hero{
    width:80%;
}
.hero-section{
    background-color: #FFFBF0;
}
h1,h2 {
    font-family: 'Bebas Neue', cursive;
}
h5,h3,p{
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 14px;
}
h5{
    font-weight: 600;
}
h1{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 70px;
}
.btn {
    background-color: #A4BC46 ;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.product-card{
    border:0;
}
.product-card img{
 background-color: rgba(238, 231, 231, 0.466);
 width:280px;
 height: 300px;
 padding:50px;
 border-radius: 20px;
}
.product-card-footer{
    border:0;
    background-color: white;
    margin-top: -50px;
}
.price {
    font-size: 32px;
    font-weight: 700;
    color: rgba(255, 166, 0, 0.808);
}
.service-img{
   margin-right: -100px;
}
.service-img img{
    width: 35%;
}
.text{
   
}
.newsletter {
    background-color: #FFFBF0;
}
.form-inline .form-control
{
    display: inline-block;
    width: auto;
} 
